# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo



# Archivos temporales
*.log
*.pot
*.pyc
*.pyo
*.mo

# Django
staticfiles/
media/

# Render build artifacts
build/
dist/

