{% extends 'main/base.html' %}
{% load static %}

{% block title %}Playground{% endblock %}

{% block content %}

<h1 class="title-page neon-title">🔥Zona Activa🔥</h1>

<!-- RETOs ACTIVOs -->
<section class="glass neon-card panel playground-section animate-pop">
    <h2 class="section-title"><i class="bi bi-fire"></i> Retos activos</h2>
    <div class="cards-grid">
        {% for r in retos_participantes %}
        <div class="reto-card glow-card">
            <span class="reto-participante">{{ r.participante.nombre }}</span>
            <p class="reto-text">{{ r.texto }}</p>
            <span class="reto-fecha">Activa desde: {{ r.fecha|date:"d / H:i" }}</span>
            <a href="{% url 'participante_detalle' r.participante.id %}" class="btn-glow">Ver</a>
        </div>
        {% empty %}
        <p>No hay retos activos.</p>
        {% endfor %}
    </div>
</section>


<!-- OBJETIVOS DE DONACIÓN -->
<section class="glass neon-card playground-section animate-pop">
    <h2 class="section-title"><i class="bi bi-gift-fill"></i> Donaciones</h2>
    <div class="cards-grid">
            {% for o in objetivos %}
            <div class="don-card glow-card">
                <h3 class="don-title">{{ o.titulo }}</h3>
                <p class="don-desc">{{ o.descripcion }}</p>

                <div class="don-progress-bar">
                    <div class="don-progress-fill" style="width: {{ o.progreso }}%;"></div>
                </div>

                <p class="don-status">{{ o.puntos_actuales }} / {{ o.puntos_necesarios }} puntos</p>

                <form method="POST" action="{% url 'donar_puntos' o.id %}">
                    {% csrf_token %}
                    <input type="number" name="puntos" min="1" max="200" placeholder="Puntos…" class="don-input">
                    <button class="btn-glow">Donar</button>
                </form>
            </div>
            {% empty %}
            <p>No hay donaciones activas por ahora.</p>
            {% endfor %}
    </div>

</section>

<!-- PARTICIPANTES ELIMINADOS -->

<!-- ELIMINADOS -->
<section class="glass neon-card playground-section animate-pop">
    <h2 class="section-title" > <i class="bi bi-person-x-fill"></i> Eliminados</h2>

    <div class="cards-grid">
        {% for p in eliminados %}
        <div class="elim-card glow-card-red">
            {% if p.foto %}
                <img src="{{ p.foto.url }}" class="elim-photo">
            {% else %}
                <img src="{% static 'main/img/default.png' %}" class="elim-photo">
            {% endif %}
            <h3 class="elim-name">{{ p.nombre }}</h3>
        </div>
        {% empty %}
        <p>Ningún eliminado por el momento.</p>
        {% endfor %}
    </div>
</section>



{% endblock %}
